@{
    ViewData["Title"] = "Home Page";
}

<!--bring in the BookListViewModel which contains the Books and the paging info-->
@model BookListViewModel

<div class="text-center">
    <img src="~/img/Books.jpg" width="500" />
</div>

<!--Title for the page-->
<!--<div class="row m-1 p-5">
    <div class="col-2">
        <header>
            <h1>This Might Be Amazon</h1>
        </header>
    </div>-->


<!--Table to display book info-->
<div>
    <table class="table table-bordered table-striped table-hover">

        <!--Table header-->
        <thead>
            <tr>
                <th scope="col">Book Title</th>
                <th scope="col">Author Last Name</th>
                <th scope="col">Author First Name</th>
                <th scope="col">Author Middle Initial</th>
                <th scope="col">Publisher</th>
                <th scope="col">ISBN</th>
                <th scope="col">Classification</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Number of Pages</th>
            </tr>
        </thead>

        <!--foreach loop to display all of the data for each book on separate rows-->
        <tbody>

            @foreach (var x in Model.Books)
            {
                <partial name="BookSummary" model="x" />
            }

        </tbody>
    </table>
</div>

<!--div for page navigation buttons-->
<div page-model="@Model.PagingInfo" page-action="index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1">

</div>
